<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <main>
        <h1>Formulário</h1>
        
        <form action="#" [formGroup] = "form">
            <div class="container">
                <input type="text" formControlName="nome" name="nome" class="campo" placeholder="nome completo">
                <input type="text" formControlName="cpf" class="campo" id="cpf" placeholder="CPF" maxlength="11" required>
                <input type="email" formControlName="email" class="campo"  name="" id="email" placeholder="email">
                <input type="date" formControlName="dataNascimento" class="campo" name="" id="data-nascimento" placeholder="data de nascimento">
                <input type="tel" formControlName="telefone" class="campo" name="" id="telefone" placeholder="telefone" maxlength="11" required>
                <select name="estado-civil" id="" >
                    <option formControlName="estadoCivil" value="" *ngFor="let estadoCivil of estadosCivis">{{estadoCivil}}</option>
                </select>
                <input type="text" formControlName="cep" class="campo" id="cep" placeholder="CEP" maxlength="8" required>
                <input type="text" formControlName="rua" class="campo" id="rua" placeholder="rua">
                <input type="text" formControlName="bairro" class="campo" id="bairro" placeholder="bairro">
                <input type="text" class="campo" formControlName="numero" id="numero" placeholder="número">
                <input type="text" formControlName="cidade" class="campo" id="cidade" placeholder="cidade">
                <select name="estado" id="estadosBrasileiros" class="campo" placeholder="estado">
                    <option formControlName="estado" value="estado.uf" *ngFor="let estado of estados" >{{estado.nome}}</option>
                </select>
            </div>
        </form>
        <input type="submit" class="campo" id="submit" value="Enviar" (click) = "recebeDados()">
    </main>
</body>
</html>
